.FREE_PSD_WEB_TEMPLATE {
  font-size: 91px;
  font-family: "Bebas Neue";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 0.352;
  position: absolute;
  left: 599.359px;
  top: 256.984px;
  z-index: 169;
}
